# SPDX-FileCopyrightText: 2024 Telefónica Innovación Digital
# SPDX-License-Identifier: MIT

name: Test E2E

on:
  push:
    branches:
      - main
      - origin/feat/65/rehype-codeblocks

permissions:
  contents: read

concurrency:  
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  markdown-confluence-sync-sync-docs:
    environment: production
    name: Markdown Confluence Sync Docs to Confluence
    runs-on: ubuntu-latest

    steps:
      - name: Check out
        uses: actions/checkout@v4
      - uses: ./.github/actions/install
      - name: Sync Markdown Confluence Sync Docs to Confluence
        run: pnpm nx sync:docs markdown-confluence-sync
        env:
          CONFLUENCE_URL: ${{ secrets.CONFLUENCE_URL }}
          CONFLUENCE_PAT: ${{ secrets.CONFLUENCE_PAT }}
          CONFLUENCE_ROOT_PAGE_ID: ${{ secrets.CONFLUENCE_MARKDOWN_CONFLUENCE_SYNC_ROOT_PAGE_ID }}
          CONFLUENCE_SPACE_KEY: ${{ secrets.CONFLUENCE_SPACE_KEY }}
          CONFLUENCE_README_ID: ${{ secrets.CONFLUENCE_README_ID }}

  markdown-confluence-sync-test-e2e:
    environment: production
    name: Test E2E Markdown Confluence Sync
    runs-on: ubuntu-latest
    needs: markdown-confluence-sync-sync-docs

    steps:
      - name: Checkout
        id: checkout
        uses: actions/checkout@v4

      - uses: ./.github/actions/install
        
      - name: Run E2E Tests
        run: pnpm nx test:e2e markdown-confluence-sync
        env:
          CONFLUENCE_URL: ${{ secrets.CONFLUENCE_URL }}
          CONFLUENCE_PAT: ${{ secrets.CONFLUENCE_PAT }}
          CONFLUENCE_ROOT_PAGE_ID: ${{ secrets.CONFLUENCE_MARKDOWN_CONFLUENCE_SYNC_ROOT_PAGE_ID }}
          CONFLUENCE_SPACE_KEY: ${{ secrets.CONFLUENCE_SPACE_KEY }}
          CONFLUENCE_README_ID: ${{ secrets.CONFLUENCE_README_ID }}
